body {
  font-family: "Tenor Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #1b1b1b;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
.container {
  font-family: "Tenor Sans", sans-serif;
  max-width: 100%;
  background-color: #fff;
}

/* Page heading for all products page*/
.pageHeadings {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1b1b1b;
  text-decoration: none;
}

/* Page heading for show pages for products */
.pageHeadings2 {
  margin-top: -30px;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 {
  background-image: url("https://www.ikea.com/images/in-a-cozy-living-room-are-a-grey-holmsund-sofa-next-to-a-win-338c45600ad349af7b1bce214223efc8.jpg?f=xxxl");
  max-width: 100%;
  height: 400px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.textOnImage {
  font-family: "La Belle Aurore", cursive;
  font-size: xx-large;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 260px 50px 50px 10px;
  color: white;
}

.brandMessage {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 20px 0px 20px;
}

.product-item {
  flex-basis: calc(33.33% - 20px); /* 3 items per row */
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-name {
  font-size: 18px;
  margin-top: 10px;
}

.product-price {
  font-size: 16px;
  color: #232323;
  margin-top: 5px;
}

/* product page */

.product-details {
  display: flex;
  flex-basis: calc(50px - 20px);
}

.product-image-showPage {
  margin: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: 1000px;
}

.imageCarousel {
  height: 600px;
  width: 600px;
}

#furIamge {
  width: 100%;
  height: 100%;
}
.move-button {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font-family: "Kosugi Maru", sans-serif;
}

.move-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  font-size: large;
}

.move-button button:hover {
  border: 1px solid #ccc;
}

left-button :disabled {
  color: #784cdfa2;
  cursor: not-allowed;
}

right-button :disabled {
  color: #784cdfa2;
  cursor: not-allowed;
}

.details {
  margin: -10px 30px 30px 50px;
  padding: 10px 10px 10px 10px;
}

.product-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buy-button {
  background-color: #415828;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.review-button {
  background-color: #d7a157;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.review-button:hover {
  background-color: #e7c778;
}
.reviews-section {
  margin: 60px 60px 20px 60px;
}

.review-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.review-text {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button {
  background-color: #a5a8b3;
  color: #fff;
}

.edit-button:hover {
  background-color: #4979ac;
}

.delete-button {
  background-color: #51292d;
  color: #fff;
}

.delete-button:hover {
  background-color: #8d4e54;
}

.no-reviews {
  font-style: italic;
  color: #777;
}

form {
  color: black;
}

/* New Review Page */
/* 
.newReviewPage{
  background-color: beige;
  margin-left: 10%;
  margin-right: 10%;
}

.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.new-edit-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
*/ .newReviewPage {
  background-color: beige;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 100vh;
}

.container3 {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 0px 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 50px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
}

.input-field.content {
  width: 400px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-field.ratingForm {
  width: 300px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #52641c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

footer {
  margin-top: 10%;
}
